

#container1 {
    text-align: center;
    position: relative;
}


#Fullname {
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}


#Birthdate {
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}


#phone_number {
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}


#email_address {
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}


#qualifications {
    font-family: sans-serif;
    width: 100%;
    margin: auto;
}