ion-card-title
{
    text-align: center;
}

ion-card
{
    --background: var(--ion-color-light);
}

ion-content
{
    --background: var(--ion-color-tertiary);
}

ion-button
{
    margin: 5px;
}

ion-item
{
    margin-bottom: 10px;
}