<ion-content [fullscreen]="true" class="login_wrapper">
  <div class="logo-container">
    <ion-img src="../../assets/icon/HustleHub-Logo-White.png" class="logo" border-color="white" (click)="backToHome()"> </ion-img>
  </div>

<div class="login">
  <div class="text-container">
    <strong> Welcome back! </strong>
    <p> Login to your account here. </p>
  </div>

  <div class="input-forms">
    <ion-item id="username_input">
      <ion-input labelPlacement="stacked" label="Enter an e-mail address:" fill="outline" placeholder="Enter an email address" color="white" [(ngModel)]="form.email_address"></ion-input>
    </ion-item>

    <ion-item id="password_input">
      <ion-input labelPlacement="stacked" label="Password:" fill="outline" placeholder="Enter a password" type="password" color="white" [(ngModel)]="form.password"></ion-input>
    </ion-item>

    <ion-item id="confirm_password">
      <ion-input labelPlacement="stacked" label="Re-enter your password:" fill="outline" placeholder="Confirm your password" type="password" color="white" [(ngModel)]="form.confirm"></ion-input>
    </ion-item>
  </div>

  <br>
  <div class="buttons">
    <ion-button [routerLink] = "['/signup']" id="signup_btn" shape="round" color="primary" (click)="add_accounts()"> Sign-up </ion-button>
    <ion-button [routerLink] = "['/login']" id="login_btn" shape="round" color="primary"> Go to Login </ion-button>
  </div>

  <br>
  <div class="soc_med_icons">
    <ion-button color="dark" id="fb_logo">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
        
    <ion-button color="dark" id="google_logo">
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
        
    <ion-button color="dark" id="linkedin_logo">
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-button>
  </div>
</div>
</ion-content>  
