<ion-content class="login_wrapper">
  <div class="logo-container">
    <ion-img src="../../assets/icon/HustleHub-Logo-Black.png" class="logo" border-color="white" (click)="backToHome()"> </ion-img>
  </div>

  <div class="text-container">
    <strong> Welcome back! </strong>
    <p> Login to your account here. </p>
  </div>
          
  <div class="container1">
    <ion-item id="username_input">
      <ion-input labelPlacement="stacked" label="Email:" placeholder="Enter your email address" color="white" [(ngModel)]="form.email_address"></ion-input>
    </ion-item>
  
    <ion-item id="password_input">
      <ion-input labelPlacement="stacked" label="Password:" placeholder="Enter your password" type="password" color="white" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    
    <br>
    <div class="buttons">
      <ion-button [routerLink] = "['/main']" id="login_btn" shape="round" (click)="checkLogin()" color="primary"> Login </ion-button>
      <ion-button [routerLink] = "['/signup']" id="signup_btn" shape="round" color="primary"> Sign-up </ion-button>
      <p> <a href="sign-in.html"> Forgot password? </a> </p>
    </div>
     
    <div class="soc_med_icons">
      <ion-button color="dark" id="fb_logo">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
        
      <ion-button color="dark" id="google_logo">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
        
      <ion-button color="dark" id="linkedin_logo">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>  
  