ion-content.login_wrapper {
    --background: linear-gradient(#1da19f, #0e2e74);
    position: relative;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 600px;
    height: auto;
    border-radius: 10px !important;
  }
  
  .container1 {
    text-align: center;
    position: relative;
  }

  .text-container strong, p {
    font-family: Poppins;
    font-size: larger;
    color: #FFF;
  }
  
  #username_input,
  #password_input {
    width: 100%;
    margin: auto;
    --background: transparent;
  }
  
  #login_btn,
  #signup_btn {
    --background: #fff;
    --color: #000;
  }
  