<ion-content>
  <ion-card> 
    <ion-card-header>
      <ion-card-title> Which types of job do you want to look for? </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label> Administrative Work </ion-label>
          <ion-radio value="admin"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Hospitality </ion-label>
          <ion-radio value="hospitality"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Food and Beverage </ion-label>
          <ion-radio value="foodbeverage"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Retail </ion-label>
          <ion-radio value="retail"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Services </ion-label>
          <ion-radio value="services"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Transportation </ion-label>
          <ion-radio value="transpo"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Sales </ion-label>
          <ion-radio value="sales"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Information Technology </ion-label>
          <ion-radio value="IT"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Events </ion-label>
          <ion-radio value="events"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label> Insurance </ion-label>
          <ion-radio value="insurance"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Contacts </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label position="floating"> Email </ion-label>
      <ion-input type="email" label-placement="stacked" id="email" fill="outline"></ion-input>

      <ion-label position="floating"> Username </ion-label>
      <ion-input type="username" label-placement="stacked" id="email" fill="outline"></ion-input>

      <ion-label position="floating"> Password </ion-label>
      <ion-input type="password" label-placement="stacked" id="password" fill="outline"></ion-input>

      <ion-label position="floating"> Confirm your password </ion-label>
      <ion-input type="password" label-placement="stacked" id="confirm" fill="outline"></ion-input>
      
      <ion-label position="floating"> Contact Number </ion-label>
      <ion-input label-placement="stacked" id="tel" fill="outline"> </ion-input>
    </ion-card-content>
  </ion-card>

  
  <ion-button color="success" size="full"> Register </ion-button>
</ion-content>