<ion-content class="home_wrapper">
  <div class="logo-container">
    <ion-img src="../../assets/icon/HUSTLE_HUB LOGO.png" id="logo" border-color="white"></ion-img>
    <h2>Find your perfect side gig.</h2>
  </div>

  <div class="text-container">
    <ion-button [routerLink]="['/login']" shape="round" class="to_login">GET STARTED</ion-button>
  </div>
</ion-content>

  <div class="icon">
    <a href="https://www.facebook.com/" target="_blank" class="sm-icon"><ion-icon name="logo-facebook"></ion-icon>
    </a>

    <a href="https://www.google.com/" target="_blank" class="sm-icon"><ion-icon name="logo-google"></ion-icon>
    </a>

    <a href="https://www.linkedin.com/" target="_blank" class="sm-icon"><ion-icon name="logo-linkedin"></ion-icon>
    </a>
  </div>