ion-content.home_wrapper {
  --background: linear-gradient(#81DFDE, #1D196B);
  position: relative;
  text-align: center;
}

.logo-container h2 {
  font-family: Poppins;
  --ion-text-shadow: 2px;
}

#logo {
  width: 600px;
  height: auto;
  border-radius: 10px !important;
  position: relative;
  right: 22%;
  top: 0;
}
