<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-avatar class="profile-picture" *ngIf="userData.profilePicture">
        <img [src]="userData.profilePicture" />
      </ion-avatar>

      <ion-item *ngIf="!isEditing">
        <ion-label>Name</ion-label>
        <ion-input [value]="userData.name" disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="!isEditing">
        <ion-label>Email</ion-label>
        <ion-input [value]="encryptEmail(userData.email)" disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="isEditing">
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="userData.name"></ion-input>
      </ion-item>

      <ion-item *ngIf="isEditing">
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="userData.email"></ion-input>
      </ion-item>

      <ion-item *ngIf="isEditing">
        <ion-label>Contact Number</ion-label>
        <ion-input [(ngModel)]="userData.contact_number"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isEditing">
        <ion-label>Contact Number</ion-label>
        <ion-input [(ngModel)]="userData.contact_number" disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="isEditing">
        <ion-label>Home Address</ion-label>
        <ion-input [(ngModel)]="userData.address"></ion-input>
      </ion-item>

      <ion-item *ngIf="!isEditing">
        <ion-label>Home Address</ion-label>
        <ion-input [(ngModel)]="userData.address" disabled></ion-input>
      </ion-item>

      <ion-button *ngIf="!isEditing" expand="full" shape="round" (click)="editProfile()">Edit Profile</ion-button>
      <ion-button *ngIf="isEditing" expand="full" shape="round" (click)="saveUserData()">Save Changes</ion-button>

      <!-- Add the "Upload Picture" button -->
      <ion-button expand="full" shape="round" (click)="fileInput.click()">Upload Picture</ion-button>

      <!-- Add the "Clear Photo" button -->
      <ion-item *ngIf="userData.profilePicture">
        <ion-button slot="end" shape="round" (click)="clearProfilePicture()">Clear Photo</ion-button>
      </ion-item>

      <!-- Add the "Upload Resume" button -->
      <ion-button expand="full" shape="round" (click)="resumeInput.click()">Upload Resume</ion-button>

      <!-- Add the "Clear Resume" button -->
      <ion-item *ngIf="userData.resume">
        <ion-button slot="end" shape="round" (click)="clearResume()">Clear Resume</ion-button>
      </ion-item>

      <!-- Display the resume if available -->
      <ion-item *ngIf="userData.resume">
        <ion-label>Resume</ion-label>
        <ion-button slot="end" (click)="viewResume()">View</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- The file input element for uploading a picture -->
  <input type="file" accept="image/*" (change)="onPictureUpload($event)" hidden #fileInput>

  <!-- The file input element for uploading a resume -->
  <input type="file" accept=".pdf" (change)="onResumeUpload($event)" hidden #resumeInput>
</ion-content>

<div class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink] = "['/']">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Back
    </ion-tab-button>

    <ion-tab-button tab="home" [routerLink] = "['/home']">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>

    <ion-tab-button tab="profile" [routerLink] = "['/profile']">
      <ion-icon name="person-circle-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</div>