<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">HustleHub</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label-placement="stacked" type="email" fill="outline" expand="block" [(ngModel)]="email">Email</ion-input>
        </ion-item>

        <ion-item>
          <ion-input label-placement="stacked" type="password" fill="outline" expand="block" [(ngModel)]="password">Password</ion-input>
        </ion-item>

        <div class="forgot">
          <ion-button color="dark" fill="clear" size="full">Forgot email / password?</ion-button>
        </div>

        <ion-button color="tertiary" size="full" (click)="login()">Login</ion-button>
        <ion-button color="tertiary" fill="clear" size="full" [routerLink]="['/registration']">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
