<!-- main.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HustleHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for jobs"></ion-searchbar>

  <ion-list>
    <div *ngFor="let job of jobPostings" class="job-container">
      <ion-thumbnail slot="start">
        <img class="company-logo" [src]="'assets/' + job.companyLogo + '.svg'" alt="{{ job.companyName }} Logo">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ job.title }}</h2>
        <p>{{ job.companyName }}</p>
      </ion-label>
    </div>
  </ion-list>
</ion-content>
