<!-- main.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HustleHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar -->
  <ion-searchbar placeholder="Search for jobs"></ion-searchbar>

  <!-- Job Postings -->
  <ion-list>
    <ion-item *ngFor="let job of jobPostings">
      <ion-thumbnail slot="start">
        <ion-icon [name]="job.companyLogo"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ job.title }}</h2>
        <p>{{ job.companyName }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
