<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title id="title-logo"> HustleHub </ion-title>
    </ion-toolbar>
  </ion-header>
</div>

  <ion-content>
    <ion-card id="first">
      <img src="../../assets/images/taskus-1.jpeg" />
      <ion-card-header>
        <ion-card-title> Junior Software Engineer </ion-card-title>
        <ion-card-subtitle> TaskUs - Batangas City Diversion Road </ion-card-subtitle>
      </ion-card-header>
        
      <ion-card-content>
        Responsible for designing, developing, and maintaining software applications and systems. 
      </ion-card-content>
      <ion-button id="apply_btn" shape="round" [routerLink] = "['/application']"> Apply Now </ion-button>
    </ion-card>
        
    <ion-card>
      <img src="../../assets/images/starbucks-2.jpg" />
      <ion-card-header>
        <ion-card-title> Barista </ion-card-title>
        <ion-card-subtitle> Starbucks Coffee - Batangas City Diversion Road </ion-card-subtitle>
      </ion-card-header>
        
      <ion-card-content>
        Provides exceptional coffee and beverage experiences to customers while creating and serving a variety of hot and cold beverages.
      </ion-card-content>
      <ion-button id="apply_btn" shape="round" [routerLink] = "['/application']"> Apply Now </ion-button>
    </ion-card>
  
    <ion-card> 
      <img src="../../assets/images/mcdo-rosario-1.jpg" />
      <ion-card-header>
        <ion-card-title> Crew Member  </ion-card-title>
        <ion-card-subtitle> McDonalds - Rosario, Batangas </ion-card-subtitle>
      </ion-card-header>
        
      <ion-card-content>
        Greets customers with a smile and maintains a fast speed of service, especially during rush hour.
      </ion-card-content>
      <ion-button id="apply_btn" shape="round" [routerLink] = "['/application']"> Apply Now </ion-button>
    </ion-card>
  </ion-content>  

  <div class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Back
      </ion-tab-button>

      <ion-tab-button tab="home" [routerLink] = "['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button tab="profile" [routerLink] = "['/profile']">
        <ion-icon name="person-circle-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </div>

