:root {
    scroll-behavior: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content {
    --background: transparent;
}

#first {
    margin-top: 80px;
}
//ion-searchbar {
  //  margin-top: 50px !important;
//}

#apply_btn {
    --background:#387ef5!important ;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 130px;
}